# Environment
.venv/
.env

# Python
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
tmp_pytest/
tmp_pytest_cache/

# Editor
.vscode/

# Data
*.db
data/

# Project folders
stuff/*
!stuff/media/
stuff/media/**/*
!stuff/media/**/
!stuff/media/**/.gitkeep
!stuff/media/**/*.json

# Other
swap-pane
